<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(title='Książka kucharska')}"></head>
<body>

<div th:replace="~{fragments :: header}"></div>
<form th:action="@{/add}" method="post" th:object="${recipe}">
    <h2>Dodawanie przepisu</h2>

    <input type="hidden" th:field="*{id}"/>

    <div class="mb-3" style="margin-left: 80px; margin-right: 80px">
        <label for="name" class="form-label">Nazwa</label>
        <input type="text" class="form-control" id="name" th:field="*{name}"/>
    </div>
    <div class="mb-3" style="margin-left: 80px; margin-right: 80px">
        <label for="description" class="form-label">Opis</label>
        <input type="text" class="form-control" id="description" th:field="*{description}"/>
    </div>
    <div class="mb-3" style="margin-left: 80px; margin-right: 80px">
        <label for="popularity" class="form-label">Ilość lajków</label>
        <input type="number" class="form-control" id="popularity" th:field="*{popularity}"/>
    </div>
    <div class="mb-3" style="margin-left: 80px; margin-right: 80px">
        <label for="timeNeeded" class="form-label">Potrzebny czas</label>
        <input type="number" class="form-control" id="timeNeeded" th:field="*{timeNeeded}"/>
    </div>
    <div class="mb-3" style="margin-left: 80px; margin-right: 80px">
        <label class="form-label">
            <select name="difficulty" th:field="*{difficulty}">
                <option selected disabled value="">Wybierz Trudność...</option>
                <option th:each="difficulty : ${T(com.example.zadanie261.recipe.Difficulty).values()}"
                        th:value="${difficulty}" th:text="${difficulty.getPlTranslation()}">
                </option>
            </select>
        </label>
    </div>
    <div class="mb-3" style="margin-left: 80px; margin-right: 80px">
        <label>
            <select name="category" th:field="*{category}">
                <option selected disabled value="">Wybierz kategorię...</option>
                <option id="category" th:each="category : ${categories}"
                        th:value="${category.id}" th:text="${category.name}">
                </option>
            </select>
        </label>
    </div>
    <input style="margin-left: 80px; margin-right: 80px" type="submit" value="Dodaj przepis!"/>
</form>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>