<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(title='Książka kucharska')}"></head>
<body>

<div th:replace="~{fragments :: header}"></div>

<h4>Wszystkie przepisy:</h4>
<ul class="content" th:each="recipe: ${recipes}">
    <a th:href="|@{/recipe/id=}${recipe.id} |">
        <button type="button"
                th:text="|${recipe.category.name} - ${recipe.name} (${recipe.popularity} &#x1F44D;)|"></button>
    </a>
</ul>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>