<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(title='Książka kucharska')}"></head>
<body>

<div th:replace="~{fragments :: header}"></div>

<h4>Wszyscy użytkownicy:</h4>
<ul class="content" th:each="user: ${users}">
    <button type="button"
            th:text="|${user.firstName} ${user.lastName} (${user.dateOfBirth}) - ${user.email}
            - czy jest zapisany do czasopisma (${user.assignedToNewsletter}) |">
    </button>
</ul>

<form action="/users" method="post" th:object="${user}">
    <h2>Dodawanie użytkownika</h2>

    <input type="hidden" th:field="*{id}"/>

    <div class="mb-3" style="margin-left: 80px; margin-right: 80px">
        <label for="firstName" class="form-label">Imię</label>
        <input type="text" class="form-control" id="firstName" th:field="*{firstName}"/>
    </div>

    <div class="mb-3" style="margin-left: 80px; margin-right: 80px">
        <label for="lastName" class="form-label">Nazwisko</label>
        <input type="text" class="form-control" id="lastName" th:field="*{lastName}"/>
    </div>

    <div class="mb-3" style="margin-left: 80px; margin-right: 80px">
        <label for="dateOfBirth" class="form-label">Data urodzenia</label>
        <input type="date" class="form-control" id="dateOfBirth" th:field="*{dateOfBirth}"/>
    </div>

    <div class="mb-3" style="margin-left: 80px; margin-right: 80px">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" th:field="*{email}"/>
    </div>

    <div class="mb-3" style="margin-left: 80px; margin-right: 80px">
        <label for="assignedToNewsletter" class="form-label">Czy jesteś zapisany do czasopisma</label>
        <input type="checkbox" class="form-control" id="assignedToNewsletter" th:field="*{assignedToNewsletter}"/>
    </div>

    <input style="margin-left: 80px; margin-right: 80px" type="submit" th:value="|Dodaj użytkownika!|"/>

</form>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>